//-Layout Base
extends partials/base-cdb.jade

//-Etiqueta Title
block title
	-var titulo = 'Recorrido';
	title Eventos &amp;  Talleres

block description
	meta(name="description" content="Eventos & Talleres" )

block content

	section
		div.container-fluid.container-pan-cdb.cdb
			div.row
				div.col-lg-3.col-md-3.col-sm-3.col-xs-12
					include partials/menu-cdb
				
				div.col-lg-9.col-md-9.col-sm-9.col-xs-12
					//Intro
					h1.text-title.
						Recorre nuestra casa
					p.text-center.
						Conoce nuestra <strong>Casa &amp; Mercado del Bienestar NESTLÉ<sup>&reg;</sup></strong> en este sorprendente  recorrido virtual.
					///-Intro

					a.btn.btn-primary.btn-mercado.active(href="#")
						| mercado nestlé
						sup &reg;
					a.btn.btn-primary.btn-casa(href="#")
						| casa nestlé
						sup &reg;

					div.container-mercado						
						div.slider-recorrido-cdb

							//item
							div.item
								img(src="images/mercado-general.jpg", alt="Ejemplo de ALT", title="Ejemplo de Title")


							//item
							div.item
								img(src="images/mercado-general.jpg", alt="Ejemplo de ALT", title="Ejemplo de Title")



							//item
							div.item
								img(src="images/mercado-general.jpg", alt="Ejemplo de ALT", title="Ejemplo de Title")
	


					div.clearfix

					div.container-galeria-cdb
						//Galerias Instagram
						div.row.galeria-single
							-for(z = 1; z < 12 ;z ++)

								div.col-lg-4.col-md-4.col-sm-4.col-xs-4
									div.galeria-item
										a.glyphicon.glyphicon-picture(href="images/galeria/sample-galeria-1-zoom.jpg", title="Title image A")
										img(src="images/galeria/sample-galeria-1.jpg", alt="Alt Imagen", title="Title image")

							
						///-Galerias Instagram






block Scripts
	script(src="js/libs/jquery.magnific-popup.min.js")
	script(src="js/libs/slick.js")
	script(src="js/recorrido.cdb.js")