//-Layout Base
extends partials/base.jade

//-Etiqueta Title
block title
	title Casa &amp; Mercado del Bienestar

block description
	meta(name="description" content="Eventos & Talleres" )

block content

	section
		div.container-fluid.cdb
			div.row
				
				//Menu

				div.col-lg-3.col-md-3.col-sm-12.col-xs-12
					include partials/menu-cdb
				
				div.col-lg-9.col-md-9.col-sm-12.col-xs-12
					//Intro
					h1.text-title.
						REGLAMENTO DE CONDUCTA DE LA CASA DEL BIENESTAR  NESTLÉ<sup>&reg;</sup>

					p.
						La “Casa del Bienestar Nestlé” es una iniciativa empresarial privada diseñada y dirigida exclusivamente por NESTLÉDE COLOMBIA S.A., con el fin de proporcionar a sus consumidores y/o público en general, información y consejos útiles sobre nutrición, salud y bienestar. Para tal efecto, la “Casa del Bienestar Nestlé” ofrece servicios, tanto gratuitos y/o pagados, de acuerdo a lo que ella misma establezca, de clases demostrativas y/o magistrales de cocina y/o repostería, talleres prácticos de técnicas culinarias, valoración nutricional y/o cualquier otro tipo de eventos relacionados con su fin. 
					p.
						El presente Reglamento de Conducta regirá todas las actuaciones de las personas y/o público en general que ingresen a la “Casa del Bienestar Nestlé”, tanto para solicitar (i) informes, (ii) contratar algún servicio y/o (iii) para asistir en calidad de consumidor. Adicionalmente regula la responsabilidad disciplinaria de las personas, con el objeto de resguardar la convivencia interna y la integridad de las personas. 

					h3 NORMAS DE COMPORTAMIENTO APLICABLES AL MOMENTO DE INGRESAR A LAS INSTALACIONES DE LA CASA DEL BIENESTAR NESTLÉ DONDE SE IMPARTIRÁN LAS CLASES Y/O TALLERES:

					ol
						li Las clases empiezan de forma puntual. El límite de tolerancia máximo será de 15 minutos. En caso el consumidor no llegue dentro de ese plazo otorgado, ya no podrá ingresar. 

						li Una vez iniciadas las clases, se prohíbe que las personas hablen entre ellas de tal manera que alteren el normal desenvolvimiento de la charla y/o clase. De necesitar conversar podrán hacerlo en voz baja y muy brevemente. 

						li Queda terminantemente prohibido que las personas se sienten y/o se paren sobre las mesas de trabajo, sillas, entre otros muebles. 

						li Todo tipo de juego y/o entretenimiento se encuentra prohibido. 

						li Fumar, ingerir bebidas de cualquier tipo y/o alimentos, se encuentra vedado. 

						li Las personas están impedidas de realizar ventas de productos, colectas y/o de cualquier otro tipo de actividad relacionada. 

						li Al retirarse deben procurar dejar el aula en orden y prudentemente limpia. 

						li Los celulares y/o cualquier otro dispositivo electrónico deberán permanecer en vibración y/o apagados. Se encuentra terminantemente prohibido tomar fotografías y/o filmar las clases y/o charlas. 

						li Si se activase algún sistema de seguridad, deberá retirarse de los ambientes de la “Casa del Bienestar  Nestlé” de manera controlada una vez los brigadistas indiquen que deben evacuar. 

						li Los consumidores deberán respetar las normas de seguridad y el aforo máximo permitido dentro de las instalaciones de la “Casa del Bienestar Nestlé”. 

						li Por razones de seguridad, la “Casa del Bienestar Nestlé” cuenta con un sistema de video vigilancia. El registro de las imágenes es administrado por NESTLÉ DE COLOMBIA S.A. y las empresas de seguridad que esta designe, en estricto cumplimiento de los deberes de confidencialidad. 

						li Se prohíbe el ingreso con armas (incluso armas blancas), municiones, materiales inflamables, volátiles y/o de cualquier otro objeto que ponga el riesgo a las personas. 

						li Está prohibido el ingreso con cámaras fotográficas y/o filmadoras de cualquier especie. Tampoco se permite el ingreso con micrófonos portátiles. 

						li No se encuentra permitido el ingreso con paquetes voluminosos y/o pesados. 

						li No se permite ingresar con materiales y/o insumos de cocina. 

						li Todo consumidor deberá velar por sus objetos personales. 

						li Por prevención, el personal de seguridad, podrá solicitar al consumidor y/o visitante, que abra sus bolsos y/o paquetes antes de ingresar al establecimiento, durante y/o a la salida. 

						li Todo tipo de conducta antisocial, malos modales y/o que afecten a la moral pública, se encuentran prohibidas. 

						li No se permite dentro de las instalaciones de la “Casa del Bienestar Nestlé” realizar encuestas, actividades comerciales ambulatorias, actividades publicitarias y/o de propaganda. 

						li En caso el consumidor detecte alguna actividad sospechosa en contra de la seguridad del establecimiento y/o de alguna persona, deberá darle aviso de inmediato al personal de seguridad y/o a los funcionarios encargados de la “Casa del Bienestar Nestlé”. 

						li Las personas que ocasionen daños a las instalaciones y/o equipos deberán hacerse responsables y asumir el costo de la reparación. 

						li El consumo responsable de las porciones entregadas como degustación, tanto en Clases 

						li Demostrativas como en Talleres es responsabilidad directa del consumidor. El deberá velar por su salud en caso de tener alergias. 

						li.
							Para cualquier inquietud relacionada con este reglamento puede escribirnos al siguiente correo electrónico: <a href="mailto:servicio.consumidor@co.nestle.com" target="_blank">servicio.consumidor@co.nestle.com</a>




					
//- block Scripts
//- 	script(src="js/libs/jquery.calendario.js")
//- 	script(src="js/calendario.cdb.js")