//Nib & gradient support
@import 'nib/vendor'
@import 'nib/gradients'
vendor-prefixes = o ms webkit moz official

//Variables y funciones
@import "modules/variables"
@import "modules/nestle-font"
@import "modules/funciones"

//Layout
@import "modules/skin"
@import "modules/article"
@import "modules/buttons"
@import "modules/carousel"
@import "modules/footer"
@import "modules/header"
@import "modules/modules"
@import "modules/filtro"
@import "modules/perfil"
@import "modules/register"
@import "modules/sections"
@import "modules/selector-preferencias"
@import "modules/widgets"
@import "modules/casa-mercado"
@import "modules/calendario"


//Modules
@import "modules/animations"
@import "modules/keyframes"
@import "modules/utilities"
@import "modules/media-queries"
@import "modules/print"
// @import "modules/keyframes"
