
.form-inscripcion
	
	width 100%
	
	label
		color darken(AzulBase, 40%)
		float left
		font-family roboto
		font-size 1.2em
		width 100%
		
	input
		border 2px solid 
		border-radius 10px
		color darken(AzulBase, 40%)
		font-family Roboto
		padding 5px
		padding-left 5px 
		text-align left
		width 100%

	select
		border 2px solid 
		border-radius 10px
		color darken(AzulBase, 40%)
		height 2.8em
		padding 0.5em !important
		width 100%