/* Large desktops and laptops */
@media (max-width: 1400px)
	.article-head
		min-height 36em

@media (max-width: 1300px)
	.article-head
		min-height 36.1em


@media (max-width: 1200px)
	#carrusel-marcas .item a
		margin 0 0.7em
		
	.article-head
		min-height 27em
		
	.btn-nav
		top -15em
		
	.helpers-registro
		font-size 0.9em
		
	.module-box
		.title
			h2
				font-size 1.8em

	.seccion-nestle
		.img-seccion
			background-size 200%
			
	.wrapper-vermas
		.share
			font-size 1em

			
	#views-exposed-form-recetario-page
		

		select
			font-size 0.9em
		
		.views-widget-filter-field_tiempo_rango__tid
			width 24%
			&:before
				font-size 2em
				
		.views-widget-filter-field_marcas_tid
			&:before
				font-size 2em
				
		.views-widget-filter-field_tipo_tid
			&:before
				font-size 2em
				
		.views-widget-filter-field_momentos_tid
			&:before
				font-size 2em			


/* Portrait tablets and medium desktops */
@media (max-width: 1160px)
	#menu.affix
		.menu-logo
			max-width 13rem
			width 100%
			img
				display block
				height auto
				margin 0 auto
				width 27rem
		.nav
			&>li>a
				font-size 1.4rem
				padding 20px 8px
		.navbar
			.social-link
				height 2.6rem
				margin-top 1.5rem
				width @height
				
				a
					font-size 1.8rem
					padding 0.5rem !important
					text-align center
			

@media (max-width: 1040px)
	#menu.affix
		.menu-logo
			max-width 10rem
			width 100%
			img
				display block
				height auto
				margin 0 auto
				width 20rem
		.nav
			&>li>a
				font-size 1.3rem
				padding 20px 6px
	.menu
		.nav
			&>li>a
				padding 10px 8px
				
		.navbar
			.social-link
				border-radius 100%
				height 3.2rem
				width @height
				
				a
					font-size 2rem
					padding 0.5rem !important
					text-align center
				

@media (max-width: 1024px)

	#views-exposed-form-recetario-page		

		select
			font-size 0.8em
		
		.views-widget-filter-field_tiempo_rango__tid
			width 24%
			&:before
				font-size 2em
				
		.views-widget-filter-field_marcas_tid
			&:before
				font-size 2em
				
		.views-widget-filter-field_tipo_tid
			&:before
				font-size 2em
				
		.views-widget-filter-field_momentos_tid
			&:before
				font-size 2em
				
		


@media (max-width: 992px)

	#bxslider_views_slideshow_main_recetario_videos-block, .loncheras_slider, #carrusel-recetario
		display none

	
	#carrusel-marcas
		.carousel-inner
			height 5.8em
			width 78%
			
			.img-responsive
				max-width 90%


	#listado-ingredientes
		span
			font-size 1.2em		


	#filtro-recetas
		
		.selects
			height 3.6em
			.form-group
				.form-control
					height 2em
					font-size 0.8em
					
			.ico
				font-size 2em
	
	#views-exposed-form-recetario-page
		
		#edit-reset
			display block
			font-size 1.4em
			margin 0

		.views-exposed-widget
			margin-bottom 0.5em
			width 25.2%
			
		.views-widget-filter-field_tiempo_rango__tid
			width 26%
			
		.views-widget-filter-field_momentos_tid
			width 19%
			
		.views-reset-button
			margin 0 auto
			width 13%

	.affix
		.navbar-right
			display none !important		
				
	.article-head
		min-height 28.3em
		
		.img-article
			position relative
			margin-top 0
		
	.box-compartir-receta
		width 100%

	// .btn-login
	// 	display  block
	
	.btn-nav
		top -13em
		
	.module-box
		h3
			font-size 1.3em

	.flippy
		display none	
			

	.filtros
		.col-lg-3
			border-right 1px solid GrisOscuro
			
		.momentos
			border-right none
			

	// .container-logo-cdb,
	// .menu.modulo-izquierda
	// 	display inline-block
	// 	vertical-align top
	// 	width 100%
		
	// .container-logo-cdb
	// 	max-width 30%
		
	// .detalle-evento
	// 	max-width 43%
	// 	top 37rem
		
		
	// .menu.modulo-izquierda
	// 	margin-left 1rem
	// 	max-width 68%
		
	// 	ul
	// 		li
	// 			display inline
	// 			max-width (100%/5)
				
	// 			a
	// 				font-size 1.4rem
	// 				padding-bottom 4.5rem 
	// 				padding-top @padding-bottom
					
	// 			&:nth-of-type(1),
	// 			&:nth-of-type(5)
	// 				a
	// 					padding-bottom 3.5rem
	// 					padding-top @padding-bottom

	.nestip-texto
		#contenedor-nestip
			font-size 0.9em
			max-height 4.4em
			padding 0.1em 0


	.seccion-nestle
		.btn.btn-fab
			margin-top 0.2em
			
		.receta-random
			.logo-recetario
				relative bottom 0
				margin 0 auto
			
		.img-seccion
			background-size 240%
		
	
	.readmore
		padding 0.5em 1em
		
	.titular
		&-bienestar
			background-color Naranja
			
		&-nutricion
			background-color Verde
			
		&-receta
			background-color AzulBase
		
	.widget
		display none
		
	.wrapper-vermas
		.tiempo
			text-align center
			margin 0.7em auto

@media (max-width: 950px)
	#menu	
		.nav
			margin-left -4rem
			&>li>a
				font-size 1.3rem
				padding 14px 8px
				
		.navbar
			.social-link
				height 2.8rem
				width @height
				
				a
					font-size 1.8rem
					text-align center
					
	#views-exposed-form-recetario-page		

		select
			font-size 0.8em
		
		.views-exposed-widget
			padding 0.5rem
			width 19% 
		.views-widget-filter-field_tiempo_rango__tid
			width 27%
			&:before
				font-size 1.7em
				
		.views-widget-filter-field_marcas_tid
			&:before
				font-size 1.7em
				
		.views-widget-filter-field_tipo_tid
			&:before
				font-size 1.7em
				
		.views-widget-filter-field_momentos_tid
			&:before
				font-size 1.7em

@media (max-width: 870px)
	#menu		
		.nav
			&>li>a
				font-size 1.2rem
				padding 14px 6px

@media (max-width: 850px)
	#menu.affix
		.nav
			&>li>a
				font-size 1.2rem

	.menu.modulo-izquierda		
		ul 
			li
				vertical-align middle
				a
					padding-bottom 2.9rem 
					padding-top @padding-bottom
				
				&:nth-of-type(1),
				&:nth-of-type(4)
				&:nth-of-type(5)
					a
						padding-bottom 1.9rem
						padding-top @padding-bottom
						
	.container-galeria-cdb
		text-align center
		a.btn-primary
			max-width 40%
			white-space normal

@media (max-width: 830px)
	#views-exposed-form-recetario-page
		
		.views-exposed-form .form-item,
		.views-exposed-form .form-submit
			padding-left 2rem

		.views-exposed-widget
			padding 0.5rem
			width 24%
			.views-reset-button
				display block
				width 16%

		.views-widget-filter-field_tiempo_rango__tid
			width 30%
			&:before
				font-size 1.7em
				position absolute
				
		.views-widget-filter-field_marcas_tid
			&:before
				font-size 1.7em
				position absolute
				
		.views-widget-filter-field_tipo_tid
			&:before
				font-size 1.7em
				position absolute
				
		.views-widget-filter-field_momentos_tid
			&:before
				font-size 1.7em
				position absolute

@media (max-width: 790px)
	.menu.modulo-izquierda		
		ul 
			li
				vertical-align middle
				
				&:nth-of-type(3)
					a
						padding-bottom 1.9rem
						padding-top @padding-bottom



@media (max-width: 768px)
	#carrusel-marcas
		.item
			a
				display block
				height 6.5em
				margin 0 auto
				width @height
				
	#carrusel-recetario
		.title
			padding-left 1em
			text-align left
			width 100%
			
			
	#filtro-recetas
		.selects
			font-size 1.1em
			height auto
			max-height initial
			text-align center
			
			.col-lg-3
				border-bottom 1px solid #fff
				border-right none
				
				&:last-child
					border-left none
					border-bottom none
					// border-top 1px solid #fff
						
			.form-group
				width 90%
				.form-control
					height auto
					font-size 1em
	
	#listado-ingredientes
		text-align center
		span
			font-size 1.5em

	#search-input
		display none
		
	#views-exposed-form-recetario-page
		
		.views-exposed-widget
			display block
			margin-bottom 0.2em
			padding 0.2em 0.8em
			width 100%
			
		.views-widget-filter-field_tiempo_rango__tid
			width 100%
			
		.views-widget-filter-field_momentos_tid
			width 100%	

			select
				font-size 1em
		
	
	.affix
		.navbar-right
			display block !important
			
		.logo-franja
			display inline-block !important
			
	.navbar-toggle
		display inline-block
		
	
	.article-head
		min-height 26em
		
		.btn.btn-fab
			font-size 2em
			
		.calorias
			font-size 1.4em
			margin-top 0em
			text-align right
		
		.u-text-right
			text-align center
			

	.article-body
		padding 2em
		
	.btn-nav
		top -11em
		
	.cdb
		.contenedor-evento
			img
				object-fit cover
				-webkit-object-fit cover
				-moz-object-fit cover
				-ms-object-fit cover
				-o-object-fit cover
				height 50rem
				
			.btn
				width 100%
			.prox-evento
				overflow hidden
				max-height 25rem
				margin-bottom 4rem
				
		.revive-streaming
			overflow hidden
			max-height 25rem
			margin-bottom 4rem
			
			img
				height 50rem
				max-width 100%
				object-fit cover
				-webkit-object-fit cover
				-moz-object-fit cover
				-ms-object-fit cover
				-o-object-fit cover
				
	.container-eventos .container-calendario
		height auto
		
	.custom-header,
	.custom-header nav,
	.custom-calendar-full,
	.fc-calendar-container, 
	.fc-calendar,
	.fc-calendar .fc-head,
	.fc-calendar .fc-row > div > span.fc-date
		bottom auto
		height auto
		left auto
		position relative
		right auto
		top auto
		width auto
		
	.fc-head
		display none
		
	.fc-calendar
		.fc-row
			& > div
				background-color GrisClaro !important
				border-bottom 1px solid #fff
				border-left @border-bottom
				
				& > div
					float right
					margin-top 0
					max-width 100%
					
					a
						font-size 1.8rem

				& > span.fc-weekday
					color GrisOscuro
					display inline-block
					font-size 1.4rem
					

	.custom-header h2,
	.custom-header h3
		float none
		padding-right 100px
		text-align left
		width auto

	.fc-calendar .fc-row,
	.ie9 .fc-calendar .fc-row > div,
	.fc-calendar .fc-row > div
		border-left none
		border-right none
		height auto
		width 100%
		

	.detalle-evento
		bottom -100%
		max-width 100%
		padding-bottom 1rem
		right 0
		text-align center
		top initial
		width 100%
		position fixed
		z-index 8
		
		a.btn
			display inline-block
			margin 1rem
			max-width 45%
			vertical-align middle
			width 100%

		.container-evento
			margin 0 auto 
			// max-height 48rem 
			max-width 100%
			// overflow-y scroll
			text-align left
			
			img,
			.evento-info
				display inline-block
				margin 1rem
				vertical-align top
				
			img
				max-width 40%
				
			.evento-info
				max-width 45%
				
		
		&.active
			right 0
			bottom 0%

	.filtros
		.btn-momento
			display inline-block
			
		.col-lg-3
			border-right none
			border-bottom 1px solid GrisOscuro
			padding-bottom 0.5em
			
		.col-lg-9
			padding-bottom 0.7em
			padding @padding-bottom

	.img-wrapper
		.img-article
			width 100%
			
	
	.informacion-ubicacion
		margin-top 2rem
		
		p
			line-height 1.2
			
		.btn
			width 100%
	
	
	.logo-cdb
		display none
		
	.menu-logo
		margin 0 auto
		width 6.8em
		img
			margin 0 auto
			width 12.6em
	
		
	.container-logo-cdb
		display block
		margin-left auto
		margin-right @margin-left
		max-width 50%
		
		
	.menu.modulo-izquierda
		bottom 0
		box-shadow 0px -5px 5px 0px rgba(0, 0, 0, 0.35)
		left 0
		margin 0
		max-width 300%
		position fixed
		overflow-x scroll
		width 100%
		
		.navbar-nav
			margin 0
			width 150%
			li
				border none
				border-left 1px solid rgba(0,0,0,0.1)
				border-right 1px solid transparent
				display inline-block
				max-width (95%/5)
				a
					font-size 1.4rem
					padding 2rem 0.5rem
					text-align center
					
				&:nth-of-type(1)
					border-left-color transparent
					
				// &:nth-of-type(3)
				// 	a
				// 		padding 2rem 0.5rem

	.module-box
		&:hover		
			.readmore
				// background-color darken(AzulBase, 40%)
				transform scale(1)
				
			.share
				opacity 0.99
		
		h3
			height auto !important		
		p
			height auto !important
			
		.title
			padding-left 1em 
			h2
				text-align left
				
			
	.navbar-toggle
		float left
	
	.navbar-nav
		a
			text-align center
			
		li
			border-bottom 1px solid rgba(0,0,0,.1);
			border-top 1px solid transparent
			// border-top 1px solid darken(AzulBase, 40%)
			
		.social-link
			display inline-block
	
	.navbar-right
		text-align center
				
	.nestip-texto
		.contenedor-nestip
			font-size 1em
			max-height inherit !important
	.pais
		text-align center
		
	.container-plato
		
		p.text-center
			display none
		.img-plato
			display none
		.container-tooltips
		
			.plato-tooltip
				background-color transparent
				border-bottom 2px solid AzulBase
				bottom initial !important
				box-shadow none
				left initial !important
				margin-bottom 2rem
				opacity 0.99
				padding 1rem 2rem
				position relative
				right initial !important
				top initial !important
				width 100%
				
				.hotspot, &::before, &::after
					display none
					
				&:nth-of-type(5)
					border-bottom-color transparent
					
				h3
					margin-top 0
					
					&:nth-of-type(1)
						font-size 1.8rem
						text-transform uppercase
						
		.tip-activo
			img
				margin-bottom 1rem

	.seccion-nestle
		.img-seccion
			background-position 60% 12%
			background-size 260%
			
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th
		white-space normal
				
	.wrapper-vermas
		margin-bottom 1em
		.article-action
			margin 0.5em auto	
			text-align center
			

		.btn
			font-size 1.3em
			margin-left 0
			

		&:hover		
			.readmore
				// background-color darken(AzulBase, 40%)
				transform scale(1)
				
			.share
				opacity 0.99
				transform translateX(0)
		.share
			opacity 0.99
			transform translateX(0)
			
		.tiempo
			font-size 1.1em
			


/* Portrait tablets and small desktops */
// @media (min-width: 767px) and (max-width: 991px)
@media (max-width: 750px)
	// .affix
	// 	.navbar-right
	// 		display block !important
	
/* Landscape phones and portrait tablets */
@media (max-width: 690px)
	.container-galeria-cdb,
	.container-pan-cdb
		text-align center
		a.btn-primary
			font-size 1.6rem
			margin 1rem
			
		.galeria-list
			.galeria
				width 50%
				
		.galeria-single
			.col-xs-4
				width 50%

@media (max-width: 640px)
	
	.article-head
		min-height 28em

	.article-receta
		min-height 24em
		
	.container-logo-cdb
		max-width 60%
		

	.detalle-evento
		h2
			position absolute
			width 100%
			box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.25)
		
		.btn-cerrar
			z-index 6
			
		.container-evento
			margin-top 6rem
			width 100%
		
		
	.menu-logo
		img
			margin-left 0em !important

	.seccion-nestle
		.img-seccion
			background-position 60% 10%
			background-size 390%
			
@media (max-width: 600px)
	.detalle-evento
		.container-evento
			margin-top 6rem
			width 100%
			text-align center
			
			img
				max-width 60%
			
			.evento-info
				max-width 100%
			
			p
				text-align center

/* Landscape phones and smaller */
@media (max-width: 550px)
	.container-galeria-cdb,
	.container-pan-cdb
		text-align center
		a.btn-primary
			max-width 100%
			
		.galeria-list
			.galeria
				clear both
				float none
				width 100%
				
		.galeria-single
			.col-xs-4
				clear both
				float none
				width 100%

@media (max-width: 480px)

	#carrusel-recetario
		.title
			margin-bottom 0em
			padding 0.5em 1em
			position initial
			

	.article-head
		min-height 24em
		
		h1
			font-size 2em
		
		.img-article
			margin-top 0
			// position initial
			
	.btn-nav
		top -10em
		
	.detalle-evento
		
		h2
			text-align left
	
	.menu-logo
		margin 0 auto
		overflow hidden
		width 8em

	.menu.modulo-izquierda		
		.navbar-nav
			li
				a
					padding 3rem 0.5rem
				&:nth-of-type(3)
					a
						padding 2rem 0.5rem
	.row
		h2
			font-size 1.5em
	.receta-random
		.nombre-receta
			display none
			
	.seccion-nestle
		min-height 15em
		h1
			margin 0.2em auto
		.btn.btn-fab
			font-size 4em
			
		.img-seccion
			background-size 430%
			

		
@media (max-width: 460px)
	.container-logo-cdb
		max-width 100%
	
	.detalle-evento
		a.btn
			display block
			max-width 100%
			width 100%
		.container-evento
			margin-top 6rem
			max-height 20rem
			overflow-y scroll
			width 100%
			text-align center
			
			&::-webkit-scrollbar
				width 0.5rem
			&::-webkit-scrollbar-track
				background-color rgba(255,255,255,0.5)
			&::-webkit-scrollbar-thumb
				background-color AzulBase
			
			img
				max-width 60%
				

			

@media (max-width: 430px)
	.menu.modulo-izquierda		
		.navbar-nav
			li			
				&:nth-of-type(1)
					a
						padding 2rem 0.5rem

		
	// .menu.modulo-izquierda		
	// 	.navbar-nav			
	// 		li
	// 			display block
	// 			max-width 100%
	// 			a
	// 				padding 2rem 0.5rem
	// 				text-align center
	