@media print
	a,
	footer,
	#comments,
	#menu,
	#block-cbn-nodes-related-cbn-module-nodes-related,
	.box-compartir,
	.compartir,
	.filtros,
	.field-type-fivestar,
	.inline,
	.pais,
	.region-buscador
		display none
		

	h1, h2
		a
			color #fff !important
			display block
			
			&[href]
				content none !important
				color #fff !important
				
				&:after
					content none !important
					color #fff !important
				

			&:after
				content none !important
				color #fff !important