//Colores

Amarillo    = #ffc200
AzulBase    = #3973bf
AzulClaro   = lighten(AzulBase, 30%)
GrisClaro   = #ebebeb
GrisOscuro  = #434343
Naranja     = #f79529
Rojo        = #e10d37
Verde       = #1fa042
VerdeOscuro = #77a830
VerdeSelectIcon =#00d5ea


//Fonts
Roboto = 'Roboto', sans-serif
Varela = 'Varela Round', sans-serif

//Font weights
Light  = 300
Normal = 400
Bold   = 700