div.container-logo-cdb
	h2: img(src="images/logo-casa-bienestar.svg" alt="Casa & Mercado del bienestar" title="Casa & Mercado del bienestar")
div.menu.modulo-izquierda.navbar.navbar-default
	ul.nav.navbar-nav

		li(class={active: titulo == "Eventos"})
			a(href='calendario.html') Eventos &amp; Talleres

		li(class={active: titulo == "Galerias"})
			a(href='galerias.html') Galerías
		li(class={active: titulo == "Plato"})
			a(href='mi-plato.html') Mi Plato Ideal
		li(class={active: titulo == "MasBienestar"})
			a(href='mas-bienestar.html') Más Bienestar
		li(class={active: titulo == "Recorrido"})
			a(href='recorrido.html') Recorre nuestra casa